#footer
    .container
        p.muted.credit
            a(href="http://creativecommons.org/licenses/by-nc-sa/3.0/",
            title="Attribution-NonCommercial-ShareAlike 3.0 Unported (cc by-nc-sa 3.0) ")
                img(src="/img/by-nc-sa-80x15.png", alt="by-nc-sa")
            | 2013 Jim deVos
