extends layout

block head
    link(rel='stylesheet', href='/css/index.css')

block content

    canvas#gamecanvas(width=800, height=600) your browser does not support canvas
    #debug input text goes here

block footer
    script(src='/js/core/core.js')
    script(src='/js/core/xhr.js')
    script(src='/js/core/Timer.js')
    script(src='/js/core/Factory.js')
    script(src='/js/core/Constants.js')
    script(src='/js/core/PhysicsEngine.js')
    script(src="/js/core/AssetLoader.js")
    script(src='/js/core/RenderEngine.js')
    script(src='/js/core/TileMap.js')
    script(src='/js/core/SpriteSheet.js')
    script(src='/js/core/SpriteSheetAnim.js')
    //script(src="/js/core/DeviceOrientation.js")
    script(src='/js/core/GameEngine.js')
    script(src="/js/core/InputEngine.js")
    script(src="/js/core/Entity.js")
    script(src="/js/core/LanderEntity.js")
    script(src='/js/main.js')



