doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        block head
    body
        div.banner
            block banner
                img.bannerimg(src='/img/intrepid_logo.png')
        block instructions
            div.instructions
                span.label ship thrusters:
                kbd e
                kbd s
                kbd f
                span.label stabelizer:
                kbd d
                span.label move camera:
                kbd &uarr;
                kbd &rarr;
                kbd &darr;
                kbd &larr;
                span.label toggle console:
                kbd esc
        block content
        script(src='/components/jquery-2.0.0.js')
        script(src='/components/Box2dWeb-2.1.a.3.js')
        block footer







