extends layout
block head
    //link(rel='stylesheet', href='/css/sandbox.css')

block content
    h1 sounds stuff
    #wrap
        button#btnPlay(type="button") play a sound
    #player
        audio(src="/assets/audio/boom.ogg", controls) Your browser does not support the audio element
    h1 motion stuff
    #console


block footer
    script(src='/js/core/core.js')
    script(src='/js/core/xhr.js')
    script(src='/js/core/soundManager.js')
    script(src='/js/core/AssetLoader.js')
    script(src='/js/sandbox.js')
    script(src='/js/core/DeviceOrientation.js')

