/* styles specific for home page */
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

span.label {
    margin-left: 10px;
    margin-right: 5px;
    font-weight: bold;
    display: inline-block;
}

.instructions {
    margin-left: 1px;
    margin-bottom: 10px;
    padding: 10px 6px 10px 6px;
    background-color: #eee;
    border: 1px solid #ddd;
}

a {
    color: #00B7FF;
}

#gamecanvas, #testcanvas {
    border: 1px solid gray;
    margin: 5px 50px;
    padding: 10px;
}

#debug {
    right: 1px;
    top: 1px;
    position: fixed;
    width: 30em;
    height: 5em;
    background-color: #333;
    font-family: monospace;
    font-size: 10pt;
    color: #0e0;
    padding: 5px;
    display: none;
}

kbd {
    padding: 2px 5px;
    margin-right: 2px;
    background-color: #ddd;
    border: 1px solid #d0d0d0;
    color: #111;
    font-size: 10pt;
    text-transform: uppercase;
}