/* glass controller css */
body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

#statcontainer {
    width: 400px;
    height: 240px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #111111;

}

#statcontainer div {
    font-size: 45px;
    font-weight: bold;
    margin: 5px 0 10px 0;
    font-family: monospace;
    text-align: right;
}

#statcontainer div#iostats {

}

#statcontainer div.supported {
    background-color: #007700;
}

#statcontainer div.not-supported {
    background-color: #770000;
}